# vim: noexpandtab sw=8
[user]
	name = JH Bang
	email = apooapooar@gmail.com
[core]
	editor = nvim
	pager = less -+XF -SQc
	excludesfile = ~/.gitexclude
	fscache = yes
	preloadindex = yes
	autocrlf = no
	quotepath = no
	precomposeunicode = yes
[init]
	# Run `git config --global init.defaultBranch main` to get this
	#
	# References:
	#   https://sfconservancy.org/news/2020/jun/23/gitbranchname/
	#   https://lore.kernel.org/git/pull.656.v4.git.1593009996.gitgitgadget@gmail.com/
	#   https://github.com/github/renaming/
	#   https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/
	defaultBranch = main
[log]
	date = iso8601
[color]
	ui = auto
[diff]
	renames = copies
[fetch]
	prune = yes
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[merge]
	conflictstyle = diff3
[rerere]
	enabled = yes
[stash]
	showPatch = true
[status]
	showStash = true
[submodule]
	fetchJobs = 0
[credential "https://github.com"]
	username = jhbaang

[include]
	path = ~/.gitconfig.local
